// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#message-area {
	padding-bottom: 204px;
}

div.mes {
	max-width: 50%;
}

div#form-area {
	width: 80%;
}